.section-hero-blog {
  display: flex;
  height: 40rem;
  background-size: cover;
  z-index: 1;
  position: relative;
  background-blend-mode: multiply;
  justify-content: center;
  background-image: url("../img/bg-hero-blog.png");
  background-position-x: center;
  align-items: center;
  background-repeat: no-repeat;
  &.--single {
    height: 50rem;
    background-position-y: unset;
  }
  // img {
  //   max-width: 40rem;
  // }
  .logo-blog {
    position: absolute;
    bottom: 9rem;
  }
  .geometric-blog {
    position: relative;
    bottom: -4rem;
    right: -7.5rem;
  }
  .erica-amores-round {
    position: absolute;
  }
}
.section-hero-blog::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background: #2623328c;
}
.section-intro-blog {
  padding: 5rem 0;
  .row {
    display: flex;
    gap: 6rem;
  }
  .content {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $gray-light;
  }
  p {
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: $gray-light;
    line-height: 150%;
  }
  .img-round {
    border-radius: 50%;
  }
}
.section-blog,
.section-more-posts {
  padding-bottom: 10rem;
  .image-blog {
    // overflow: hidden;
    width: 56rem;
    &.--morePosts {
      width: 100%;
    }
  }
  .img-blog {
    &.--morePosts {
      width: 100%;
      border-radius: 0.8rem 0.8rem 0 0;
    }
    object-fit: cover;
    width: 56rem;
    height: 36rem;
    border-radius: 0.8rem;
  }
  .search-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7rem;
    h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 700;
    }
  }
  form {
    select,
    option {
      color: rgb(110, 110, 110);
      padding-left: 0.6rem;
    }
    display: flex;
    gap: 3rem;

    select:active,
    select:hover {
      outline: none !important;
    }
  }
  .cat_dropdown,
  .search-filter-text {
    border: 4px solid rgb(226, 226, 226);
    border-radius: 1rem;
    width: 36.5rem;
    background-color: $white;
    height: 6rem;
    font-family: "Montserrat", sans-serif;
    outline: 0;
    &::placeholder {
      color: rgb(156, 156, 156);
    }
    &:hover {
      background-color: unset;
    }
  }

  .search-filter-text {
    display: flex;
    justify-content: space-between;
    select:active,
    select:hover {
      outline: none;
    }
    button {
      background: unset;
      border: none;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        filter: brightness(1.2);
      }
      img {
        padding-right: 1rem;
      }
    }
    input {
      border-radius: 1rem;
      border: none;
      padding-left: 1rem;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      outline: 0;
      &::focus {
        outline: 0;
        border: none;
      }
    }
  }

  .cards-blog {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .card-blog {
    display: flex;
    border: 1rem;
    gap: 2rem;
    &.--single {
      flex-direction: column;
      width: 50%;
    }
    &.--morePosts {
      gap: unset;
      border-radius: 0.8rem;
      box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.116);
    }
  }
  .content-blog {
    &.--single {
      padding: 5rem 0;
      gap: 2rem;
    }
    &.--morePosts {
      max-width: 100%;
      padding: 3rem;
    }
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  .date-blog {
    &.--single {
      font-size: 1.9rem;
    }
    color: $orange;
    font-weight: 300;
    font-size: 1.3rem;
  }
  .category-blog {
    &.--single {
      padding: 1rem;
      font-size: 1.8rem;
    }
    max-width: fit-content;
    color: $white;
    font-weight: 500;
    font-size: 1.3rem;
    padding: 0.8rem;
    background-color: $green;
    transition: 0.3s;
    &:hover {
      background-color: $orange;
    }
  }
  .title-blog {
    &.--single {
      margin-bottom: 4rem;
      font-size: 4rem;
    }
    &.--morePosts {
      font-size: 2.2rem;
    }
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 900;
    color: $gray-light;
  }
  .excerpt-blog {
    font-weight: 300;
    color: $gray-light;
    font-size: 1.7rem;
  }
  .text-blog {
    p {
      font-weight: 300;
      color: $gray-light;
      line-height: 2.8rem;
      font-size: 1.9rem;
      margin-bottom: 2.5rem;
    }
  }
  .content-blog-share {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    a {
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
        filter: brightness(1.3);
      }
    }
    p {
      font-size: 1.9rem;
      color: $orange;
      font-weight: 300;
    }
  }
  .anchor-blog {
    &.--single {
      padding: 1rem 3.5rem;
      border: 0.5rem solid $green;
      font-weight: 700;
      font-size: 1.6rem;
      margin-right: 2rem;
    }
    color: $green;
    display: inline-flex;
    border-radius: 0.8rem;
    padding: 0.8rem 2rem;
    max-width: fit-content;
    border: 3px solid $green;
    transition: 0.3s;
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
  .pagination {
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    justify-content: center;
    .page-numbers::after {
      content: "";
      width: 3.6rem;
      height: 0.6rem;
      margin-bottom: 0.4rem;
      border: 0.3rem solid $gray-light;
      filter: brightness(1.5);
      border-radius: 0.2rem;
    }
    .current::after {
      border: 0.3rem solid $green;
      filter: unset;
    }
    .page-numbers {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;
      justify-content: center;
      font-size: 1.9rem;
      color: $gray-light;
      &:hover {
        color: $green;
        &::after {
          border: 0.3rem solid $green;
          filter: brightness(1);
        }
      }
      &.current {
        color: $green;
      }
      &.next,
      &.prev {
        position: unset;
        filter: saturate(0);
        &:hover {
          filter: unset;
          &::after {
            filter: brightness(1);
          }
        }
      }
      &.next::after {
        content: url("../img/arrow-next.svg");
        border: none;
        filter: brightness(1.5);
      }
      &.prev::after {
        content: url("../img/arrow-prev.svg");
        border: none;
        filter: brightness(1.5);
      }
    }
  }
}
.section-hero-blog {
  list-style-type: none;
  height: 30rem;
}

.section-newsletter-blog {
  padding: 5rem 0;
  background-color: $orange;
  .text-newsletter {
    h3 {
      text-transform: uppercase;
      font-weight: 700;
      color: $white;
      font-size: 2.5rem;
      letter-spacing: 3.5%;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.5rem;
      color: $white;
      max-width: 47rem;
    }
  }
  .row {
    display: flex;
    gap: 3.5rem;
    align-items: center;
    margin-bottom: 3.5rem;
  }
  form {
    display: flex;
    gap: 4rem;
    align-items: center;
  }
  input {
    width: 44rem;
    text-transform: uppercase;
    height: 6rem;
    border: 1px solid $white;
    border-radius: 0.6rem;
    background-color: unset;
    padding-left: 2rem;
    &:focus {
      outline: 1px solid $white !important;
      box-shadow: 0 0 0.4em $white;
    }
  }
  input::placeholder {
    color: $white;
  }
  button {
    border: 5px solid $white;
    font-size: 1.6rem;
    border-radius: 0.8rem;
    color: $white;
    width: 15rem;
    height: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: unset;
    transition: 0.3s;
    &:hover {
      background-color: $white;
      color: $orange;
      cursor: pointer;
    }
  }
}
.section-more-posts {
  padding: 5rem 0;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .row {
    display: flex;
    gap: 5rem;
    padding: 4rem 0;
  }
  .title {
    color: $gray-light;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }
  .title::after {
    position: absolute;
    width: 9rem;
    border-radius: 3.1rem;
    height: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 4.5rem;
    content: "";
    background: $green;
  }
}
@media screen and (max-width: 1200px) {
  .section-blog {
    .title-blog {
      font-size: 2.5rem;
    }
    .excerpt-blog {
      font-size: 1.4rem;
    }
    .search-filter {
      gap: 2rem;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 991px) {
  .section-blog {
    padding: 5rem 0;
    .cards-blog {
      gap: 5rem;
    }
    .card-blog {
      width: 100%;
      gap: unset;
      flex-direction: column;
      box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.116);
    }
    .img-blog {
      width: 100%;
      border-radius: 0.8rem 0.8rem 0 0;
    }
    .content-blog {
      padding: 3rem;
    }
    .cat_dropdown,
    .search-filter-text {
      width: 30rem;
    }
  }
  .section-intro-blog {
    .img {
      display: flex;
      justify-content: center;
    }
    .img-round {
      width: 80%;
    }
    .row {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    .content {
      text-align: center;
    }
  }
  .section-newsletter-blog {
    form {
      flex-direction: column;
    }
    input {
      width: 100%;
    }
    .text-newsletter {
      p {
        max-width: unset;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section-intro-blog {
    .content {
      text-align: center;
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
        line-height: unset;
      }
    }
  }
  .section-blog {
    padding: 3rem 0;
    .content-blog {
      padding: 2.5rem;
    }
    .title-blog {
      font-size: 2rem;
    }

    form {
      gap: 2rem;
      flex-direction: column;
    }
  }
  .section-newsletter-blog {
    form {
      gap: 3rem;
    }
    .row {
      flex-direction: column;
      gap: 1.5rem;
      img {
        max-width: 6rem;
      }
    }
    .text-newsletter {
      text-align: center;
    }
  }
  .section-more-posts {
    .row {
      flex-direction: column;
      align-items: center;
    }
    .excerpt-blog {
      font-size: 1.6rem;
    }
    .title-blog {
      &.--morePosts {
        font-size: 2rem;
      }
    }
    .card-blog {
      &.--single {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .section-intro-blog {
    padding: 4rem 0;
    .container {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
    .row {
      gap: 2rem;
    }
    .content {
      text-align: center;
      font-weight: 400;
      gap: 1.5rem;
    }
  }
  .section-blog {
    .content-blog-share {
      margin-top: 1rem;
      flex-wrap: wrap;
      p {
        display: none;
      }
    }
    &.--single {
      padding: 3rem 0;
    }
    .date-blog {
      &.--single {
        font-size: 1.6rem;
      }
    }
    .category-blog {
      &.--single {
        padding: 0.8rem;
        font-size: 1.4rem;
      }
    }
    .title-blog {
      &.--single {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
    .text-blog {
      p {
        font-size: 1.7rem;
      }
    }
    .content-blog {
      &.--single {
        padding: 2rem 0;
        p:last-of-type {
          margin-bottom: unset;
        }
      }
    }
    .content-blog-share {
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .section-blog {
    padding: 2rem 0;
    .content-blog {
      padding: 2rem;
      &.--single {
        padding: 2rem 0;
      }
    }
    .cat_dropdown,
    .search-filter-text {
      width: 28rem;
    }
    .title-blog {
      &.--single {
        font-size: 2.6rem;
      }
      font-size: 1.8rem;
    }
  }
  .section-more-posts {
    .content-blog {
      &.--morePosts {
        padding: 1.5rem;
      }
    }
    .excerpt-blog {
      font-size: 1.4rem;
    }
  }
  .section-hero-blog {
    .logo-blog {
      width: 26rem;
    }
    .geometric-blog {
      width: 17rem;
      right: -6.5rem;
      bottom: -4.3rem;
    }
  }
}
