.breadcrumb {
  position: absolute;
  bottom: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 2rem;
  ul {
    display: flex;
    bottom: 0;
    gap: 3.5rem;
  }
  li,
  a {
    color: $white;
    list-style-type: none;
  }
  a {
    letter-spacing: 0.25rem;
  }
  .a-breadcrumb-active {
    font-weight: 700;
  }
  .a-breadcrumb,
  .a-breadcrumb-active {
    z-index: 1;
    position: relative;
  }
  .a-breadcrumb::after {
    position: absolute;
    content: "";
    height: 0.4rem;
    width: 0.4rem;
    background-color: $white;
    border-radius: 50%;
    margin-left: 1.5rem;
    top: 30%;
    pointer-events: none;
  }
}
