.btn {
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: 0.5s;
  &.--main {
    border: 0.7rem solid $green;
    color: $green;
    width: 28rem;
    height: 7rem;
  }
  &.--hero {
    color: $white;
  }
  &:hover {
    background-color: $green;
    color: $white;
  }
  &.--portfolio {
    display: inline-flex;
    color: $white;
    border-radius: 3.5rem;
    border: 0.2rem solid $gray-light;
    width: 17rem;
    height: 3.4rem;
    transition: 0.7s;
    &:hover {
      border: 0.2rem solid $green;
    }
  }
}
