.row-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.--quemSomos {
    position: relative;
    row-gap: 3rem;
    column-gap: 6rem;
  }
  &.--servicos {
    row-gap: 8rem;
    column-gap: 2.7rem;
  }
}
.teste-div {
  display: flex;
  justify-content: flex-end;
}

.box {
  background: linear-gradient(
    90deg,
    rgba(243, 244, 248, 0) 1.45%,
    #f3f4f8 106.87%
  );
  border-radius: 0.9rem;
  position: relative;
  align-items: center;
  z-index: 1;
  transition: 0.5s;
  border: 0.1rem solid transparent;
  &:hover {
    animation-direction: normal;
    border-color: #f59121;
    background: #fff;
    img {
      transform: scale(0.9);
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    background: linear-gradient(to right, #fff, transparent);
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
  }
  img {
    transition: 0.5s;
    position: absolute;
    padding: 1.5rem;
    border: 0.1rem solid $orange;
    border-radius: 1.4rem;
    width: 9rem;
  }
  p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  h2 {
    margin-left: 10rem;
  }
  &.--quemSomos {
    padding: 4.5rem 4rem;
    height: 17.4rem;
    width: 100%;
    max-width: 52.4rem;
    display: flex;
    align-items: center;
    img {
      left: -2rem;
    }
    p {
      padding-left: 6rem;
    }
  }
  &.--servicos {
    padding: 1.2rem 2.5rem 6.5rem 2rem;
    img {
      background-color: $white;
      top: -3.5rem;
      left: 1.8rem;
    }
    width: 100%;
    max-width: 34.4rem;
    &:last-of-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5rem;
      padding: 6rem 2.5rem 4rem 2rem;
      .box-content {
        align-items: center;
        display: flex;
        font-weight: 300;
        gap: 4rem;
      }
      p {
        margin-left: unset;
        font-size: 2rem;
        line-height: 106%;
        max-width: 17rem;
      }
      strong {
        color: $gray-light;
      }
      img {
        border: none;
        position: unset;
        padding: 0;
        border-radius: unset;
      }
    }
    h2 {
      font-size: 2.5rem;
      color: $gray-light;
      margin-bottom: 2.5rem;
      width: 22rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .row-grid {
    &.--servicos {
      padding-right: unset;
    }
    &.--quemSomos {
      row-gap: 8rem;
    }
  }
  .box {
    background: #f3f4f8a6;
    &.--servicos {
      flex-direction: column;
      display: flex;
      justify-content: center;
      min-width: 36.6rem;
      max-width: 100%;
      padding: 1.2rem 2.5rem 3.5rem 2rem;
      &:last-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        padding: 1.2rem 2.5rem 3.5rem 2rem;
        .box-content {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-weight: 300;
          gap: unset;
          img {
            position: relative;
            top: -5rem;
            padding: 1.5rem;
            border: 0.1rem solid $orange;
            border-radius: 1.4rem;
          }
          p {
            max-width: unset;
            text-align: center;
          }
        }
      }
      img {
        background-color: $white;
        left: unset;
        top: -5rem;
      }
      p {
        margin-left: 0;
      }
      .teste-div {
        text-align: center;
        justify-content: center;
      }
      h2 {
        margin-top: 4.5rem;
        width: 100%;
        margin-left: unset;
      }
    }
    &.--quemSomos {
      max-width: 100%;
      padding: 4rem 4rem;
      min-height: 18.4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: unset;
      height: unset;
      img {
        left: unset;
        top: -5rem;
        background-color: $white;
      }
      p {
        margin-top: 2rem;
        padding-left: unset;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .box {
    &.--servicos {
      min-width: unset;
      .btn {
        width: 100%;
      }
    }
  }
  .row-grid {
    &.--servicos {
      gap: 8em;
    }
  }
}
