footer {
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  background-position-x: center;
  background-size: cover;
  margin-bottom: 0px;
  background-blend-mode: multiply;
  background-image: url("../img/bg-footer-hero.png");
  .col-1,
  .contact-1 {
    display: flex;
    flex-direction: column;
    img {
      width: 7.5rem;
      border: 0.8rem solid $green;
      padding: 2rem;
      border-radius: 1.2rem;
      &:hover {
        background-color: $green;
      }
    }

    a {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      gap: 2rem;
    }
  }
  .contact-1 {
    a {
      max-width: fit-content;
      transition: 0.5s;
      &:hover {
        img {
          background-color: $green;
        }
        p {
          color: $green;
          text-shadow: 0px 1px 1px rgba(45, 119, 61, 0.425);
        }
      }
    }
  }
  .col-2 {
    display: flex;
    margin-left: 15rem;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-weight: 600;
      color: $white;
      transition: 0.3s;
    }
  }
  .contact-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
    left: 14%;
    .icon-footer {
      background-color: $gray-light;
      border-radius: 50%;
      padding: 0.8rem;
      transition: 0.7s;
      &:hover {
        background-color: $green;
      }
      img {
        width: 2rem;
        display: flex;
      }
    }
  }
  .col-1 {
    width: 45rem;
    justify-content: space-around;
    h2 {
      color: $white;
      margin-bottom: 5.5rem;
    }
    p {
      color: $white;
      font-size: 1.7rem;
      line-height: 180%;
    }
    a {
      margin-top: 9rem;
    }
  }
  .row-1 {
    display: flex;
    padding: 8rem 0;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
  .row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    p {
      line-height: 200%;
      font-size: 1.2rem;
      letter-spacing: 0.23rem;
      font-weight: 300;
      color: $white;
    }
    a {
      img {
        transition: 0.4s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .kbr-footer {
    a {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1;
    background: linear-gradient(
      80deg,
      rgba(35, 35, 35, 1) 54%,
      rgba(35, 33, 43, 0.5886729691876751) 83%,
      rgba(34, 29, 57, 0.27494747899159666) 100%
    );
  }
}
.section-copyright-footer {
  background-color: #1d1d1e;
}

/*media queries*/
@media screen and (max-width: 1000px) {
  footer {
    .row-1 {
      flex-direction: column;
      padding: 50px 0;
      .col-1 {
        h2 {
          margin-bottom: 30px;
        }
        a {
          margin-top: 30px;
        }
      }
      .col-2 {
        margin-top: 60px;
        margin-left: 0;
      }
      .contact-2 {
        left: unset;
      }
    }
    .row-2 {
      flex-direction: column;
      gap: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    footer {
      .row-1 {
        .col-2 {
          gap: 20px;
        }
        .contact-2 {
          justify-content: unset;
          left: unset;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    footer {
      .row-1 {
        flex-direction: column;
        padding: 50px 0;
        p {
          font-size: 1.5rem;
        }
        h2 {
          font-size: 2.1rem;
        }
        .col-1,
        .col-2 {
          max-width: 96%;
        }
        .col-1 {
          .btn {
            width: 100%;
          }
        }
        .col-2 {
          .contact-1 {
            a {
              gap: 1rem;
            }
            img {
              border: 0.6rem solid #84b943;
              width: 4rem;
              padding: 6px;
            }
          }
          p {
            word-break: break-all;
          }
        }
      }
    }
    .section-copyright-footer {
      text-align: center;
    }
  }
}

/*media queries*/
