header {
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  transition: 0.3s;
  .btn {
    color: $white;
  }
  .menu {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-left: 1rem;
  }
  #btn-mobile {
    display: none;
  }
  .geometric-header {
    position: absolute;
    top: -2.5rem;
    right: -3rem;
    transition: 0.6s ease;
  }
  .btn-whatsapp-header {
    position: fixed;
    top: 4rem;
    right: 6rem;
    transition: 1.5s ease-in-out;
  }
  .logo-header {
    width: 13rem;
    position: absolute;
  }
  .icon-whatsapp-header,
  .logo-header {
    transition: 0.6s;
    &:hover {
      transform: scale(1.1);
    }
  }
  nav {
    padding: 3rem 0;
    align-items: center;
    display: flex;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    ul {
      flex-wrap: wrap;
      display: flex;
      gap: 2rem;
      list-style-type: none;
      text-transform: uppercase;
      font-weight: 500;
      justify-content: center;
    }
    li {
      display: inline;
    }
    a {
      font-size: 1.2rem;
      color: $white;
      padding-bottom: 0.4rem;
      border-bottom: 0.2rem solid transparent;
      transition: 0.6s;
      &:hover {
        border-bottom: 0.2rem solid $orange;
        text-shadow: 0 0 0.1rem $white;
      }
    }
  }
}

/*media queries*/
@media screen and (max-width: 1200px) {
  header {
    nav {
      ul {
        max-width: 750px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  header {
    nav {
      padding: unset;
      justify-content: flex-end;
      ul {
        max-width: unset;
      }
    }
    .logo-header {
      top: 0;
    }
    .linha-header {
      display: none;
    }
    .header-afiliados {
      flex-direction: column;
    }
    .btn-whatsapp-header {
      display: none;
    }
    .geometric-header {
      position: absolute;
      top: 0.3rem;
      right: -14rem;
    }
    .menu {
      right: 0;
      top: 5rem;
    }
    .menu-list {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      top: 12rem;
      right: 0;
      background-color: #000;
      transition: 0.5s;
      z-index: 1000;
      height: 0;
      visibility: hidden;
      overflow-y: hidden;
    }
    .nav-menu.active .menu-list {
      height: 24rem;
      visibility: visible;
      overflow-y: auto;
    }

    .menu-list a {
      padding: 1rem 0;
      margin: 0 1rem;
    }

    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      gap: 1.5rem;
      position: absolute;
      right: 0;
      top: 4rem;
    }

    #hamburguer {
      border-top: 2px solid $white;
      width: 30px;
    }

    #hamburguer::before,
    #hamburguer::after {
      content: "";
      display: block;
      position: relative;
      width: 30px;
      height: 2px;
      margin-top: 5px;
      border-top: 5px;
      background-color: $white;
      transition: 0.5s ease;
    }

    .nav-menu.active #hamburguer {
      border-top: transparent;
    }

    .nav-menu.active #hamburguer::before {
      transform: rotate(135deg);
    }

    .nav-menu.active #hamburguer::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
}

/*media queries*/
