/*section-hero*/
.section-hero {
  padding: 6rem 0;
  color: $white;
  height: 80rem;
  .header-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 5rem;
      margin-bottom: 50px;
      max-width: 70rem;
      font-weight: 500;
      text-align: center;
    }
    span {
      text-transform: uppercase;
    }
  }
  .header-afiliados {
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: flex;
    gap: 20px;
    align-items: center;
    a {
      max-height: 2.9rem;
      align-self: center;
      transition: 0.4s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .linha-header {
    height: 4rem;
    width: 0.1rem;
    background-color: $white;
  }
  .paragraph-afiliados {
    &:nth-child(1) {
      font-size: 1.8rem;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
}
/*section-hero*/

/*section-quem-somos*/
.section-quem-somos {
  padding: 11.5rem 0;
  .row-1 {
    display: flex;
    gap: 10rem;
    margin-bottom: 8rem;
  }
  .col-1 {
    h2 {
      font-size: 3rem;
      line-height: 3.9rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 2.7rem;
      font-weight: 400;
      margin-bottom: 5rem;
      line-height: 3.5rem;
    }
  }
  .col-2 {
    p {
      font-weight: 300;
      font-size: 1.7rem;
      line-height: 2.4rem;
      margin-bottom: 2.4rem;
    }
  }
}
/*section-quem-somos*/

/*section-lideranca*/
.section-lideranca {
  background-color: #2b2b2b;
}
/*section-lideranca*/

.section-lideranca {
  .row {
    display: flex;
    position: relative;
  }
  h2 {
    color: $white;
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  p {
    color: $white;
    font-weight: 200;
    font-size: 1.8rem;
    line-height: 130%;
    max-width: 51.8rem;
    transition: 0.2s;
  }
  a {
    color: $white;
    font-weight: 700;
  }
  .col-1,
  .col-2 {
    width: 45%;
  }
  .col-3 {
    width: 10%;
  }
  .col-1 {
    background-image: url("../img/erica-amores.png");
    background-repeat: no-repeat;
    z-index: 2;
  }
  .col-2 {
    padding: 10rem 0 8rem 8rem;
    .destaque {
      font-weight: 700;
      margin-top: 5rem;
    }
  }
  .retangulo-verde {
    border-radius: 3.1rem;
    background: linear-gradient(
      90deg,
      #84b943 0%,
      rgba(132, 185, 67, 0.12) 100%
    );
    position: relative;
    left: -30%;
    width: 60%;
    height: 2.3rem;
    z-index: 1;
  }
  .referencia {
    display: flex;
    margin-top: 3.5rem;
    gap: 1.5rem;
    transition: 0.2s;
    &:hover {
      p {
        margin-left: 0.5rem;
      }
      img {
        filter: brightness(1.5);
      }
    }
  }
  .paragraph-lideranca {
    margin-top: 3.5rem;
  }
  .referencia-linkedin {
    margin-top: 3rem;
    a {
      gap: 0.6rem;
      display: inline-flex;
      transition: 0.3s;
      height: 2.2rem;
      &:hover {
        color: $orange;
      }
      p {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
    img {
      width: 2rem;
    }
  }
  .col-3 {
    position: relative;
  }
}
/*section-lideranca*/

/*section-servicos*/
.section-servicos {
  padding: 10rem 0;
  .title {
    margin-bottom: 8rem;
  }
}
/*section-servicos*/

/*section-depoimentos*/
.section-depoimentos::before {
  content: url("../img/icon-quotation-mark-smaller.png");
  position: absolute;
  z-index: -1;
  top: 5rem;
  left: 12rem;
}
.section-depoimentos::after {
  position: absolute;
  content: url("../img/icon-quotation-mark-bigger.png");
  z-index: -1;
  right: 0;
  bottom: 0;
  transform: scale(0.8);
}
.section-depoimentos {
  position: relative;
  padding: 12rem 0 15rem 0;
  h2 {
    margin-bottom: 5rem;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .card-depoimento {
    margin-top: 4rem;
    height: 64%;
    padding: 5rem 3rem 2rem 3rem;
    border-radius: 0.7rem;
    // width: 52rem;
    box-shadow: 0px 20px 20px rgba(0, 71, 125, 0.05);
    font-weight: 300;
    line-height: 180%;
    font-size: 1.5rem;
    position: relative;
    transition: 0.6s;
    &:hover {
      box-shadow: 0px 20px 20px rgba(0, 71, 125, 0.09);
      .icon-quotationmarks {
        transform: scale(0.9);
      }
    }
  }
  .card-depoimento-nome {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }
  .card-depoimento:nth-of-type(2) {
    p {
      text-align: end;
    }
    .icon-quotationmarks {
      right: 4rem;
    }
  }
  .depoimento-2 {
    justify-content: end;
  }
  .icon-quotationmarks {
    padding: 1.8rem 1.2rem;
    border: 0.1rem solid $orange;
    border-radius: 1.4rem;
    transition: 0.6s;
    position: absolute;
    top: -2.5rem;
  }
  .icon-depoimento-borda {
    padding: 1rem;
    border-radius: 50%;
    border: 0.1rem solid #f3f4f8;
  }
  .card-depoimento-nome:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
  }
}
/*section-depoimentos*/

/*section-parceiros*/
.section-parceiros {
  position: relative;
  background-repeat: no-repeat;
  z-index: 1;
  background-position-x: right;
  background-size: contain;
  margin-bottom: 0px;
  background-blend-mode: multiply;
  background-image: url("../img/bg-section-parceiros.png");
  p {
    font-weight: 200;
    margin-top: 3rem;
    max-width: 30rem;
  }
  .row {
    padding: 10rem 0;
    display: flex;
    justify-content: space-between;
    h3,
    h2,
    p {
      color: $white;
      text-align: left;
    }
    h2 {
      max-width: 20rem;
      line-height: 130%;
      font-weight: 700;
      font-size: 3rem;
    }
    h3 {
      margin-top: 2rem;
      letter-spacing: 3.7px;
      font-size: 1.7rem;
    }
    p {
      width: 400px;
      font-size: 15px;
      line-height: 180%;
    }
  }
  &::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1;
    background: linear-gradient(
      80deg,
      rgba(35, 35, 35, 1) 54%,
      rgba(35, 33, 43, 0.5886729691876751) 83%,
      rgba(34, 29, 57, 0.27494747899159666) 100%
    );
  }
  .col-1 {
    img {
      position: absolute;
      top: -4.3rem;
      left: 0;
    }
  }
}
/*section-parceiros*/

/*media queries*/
@media screen and (max-width: 1200px) {
  .section-lideranca {
    .col-1 {
      background-position: center;
    }
    .col-2 {
      padding: 6rem 4rem 6rem 4rem;
    }
  }
}
@media screen and (max-width: 1000px) {
  .section-hero {
    .header-texto {
      h1 {
        font-size: 3rem;
        max-width: 81.2rem;
      }
    }
    .header-afiliados {
      flex-direction: column;
      .mouse-icon-header-afiliados {
        display: unset;
      }
      .linha-header {
        display: none;
      }
    }
  }
  .section-quem-somos,
  .section-depoimentos {
    padding: 5rem 0;
  }
  .section-quem-somos {
    .row-1 {
      flex-direction: column;
      gap: 5rem;
    }
    .col-1 {
      p {
        font-size: 2.3rem;
      }
      a {
        width: 100%;
      }
    }
  }
  .section-lideranca {
    .row {
      flex-direction: column;
    }
    .col-1 {
      background-size: cover;
      background-position-y: top;
      min-height: 65rem;
      width: 100%;
    }
    .col-2 {
      width: 100%;
      .paragraph-lideranca {
        max-width: unset;
      }
    }
    .col-3 {
      display: none;
    }
  }
  .section-depoimentos {
    &::before,
    &::after {
      content: "";
    }
  }
  .section-parceiros {
    .row {
      gap: 5rem;
      flex-direction: column;
      .col-1,
      p,
      h3,
      h2 {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .section-hero {
    height: 60rem;
    .header-texto {
      h1 {
        letter-spacing: -0.05rem;
        margin-bottom: 3rem;
      }
    }
  }
  .section-quem-somos {
    .row-2 {
      display: flex;
      flex-direction: column;
      .box {
        flex-direction: column;
        gap: 30px;
      }
    }
  }

  .section-lideranca {
    .col-1 {
      min-height: 40rem;
    }
    .row {
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
  .section-servicos {
    padding: 5rem 0;
    .title {
      margin-bottom: 10rem;
    }
  }

  .section-parceiros {
    .row {
      padding: 5rem 0;
    }
    .col-1 {
      img {
        display: none;
      }
    }
  }

  .section-depoimentos {
    .row {
      display: flex;
      justify-content: space-between;
    }
    h2 {
      margin-bottom: 5rem;
    }
    .card-depoimento {
      padding: 5rem 2rem 1rem 2rem;
      width: 100%;
      height: 64%;
    }
    .icon-depoimento-borda {
      padding: unset;
      border: 0.07rem;
    }
    .card-depoimento-nome {
      font-size: 1.4rem;
    }
  }
}
@media screen and (max-width: 530px) {
}
@media screen and (max-width: 400px) {
  .section-hero {
    .header-texto {
      h1 {
        max-width: 28rem;
      }
    }
    .afiliados-texto {
      padding: 0 5rem;
    }
    .paragraph-afiliados {
      p {
        max-width: 90%;
      }
    }
  }
  .section-lideranca {
    .col-1 {
      min-height: 30rem;
    }
    .col-2 {
      padding: 4rem 2rem;
    }
    .referencia-linkedin {
      gap: 3rem;
    }
  }
}
