.line {
  height: 100%;
  &::after {
    content: "";
    position: absolute;
    right: 5rem;
    bottom: 0;
    height: 90%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    height: 70%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    bottom: 0;
    right: 15%;
  }
}
.section-hero,
.section-hero-blog {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 5rem;
    bottom: 0;
    height: 90%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    right: 5rem;
    bottom: 0;
    height: 90%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 2;
  }
  .right-line {
    position: absolute;
    height: 70%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    bottom: 7rem;
    right: 15%;
    z-index: 2;
    .mouse-icon {
      position: absolute;
      top: 100%;
    }
  }
}
.left-line {
  position: absolute;
  writing-mode: tb-rl;
  text-orientation: upright;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  height: 70%;
  display: flex;
  justify-content: center;
  bottom: 7rem;
  z-index: 2;
  &.--hero {
    left: 15%;
  }
  &.--lideranca {
    right: 3rem;
    bottom: 2rem;
    height: 115%;
    &::before {
      height: 40%;
    }
    &::after {
      height: 40%;
    }
  }
  &::before {
    content: "";
    position: absolute;
    height: 20%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    top: -20px;
    left: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    height: 20%;
    width: 1px;
    background: rgba(255, 255, 255, 0.2);
    bottom: -20px;
    left: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .section-hero,
  .section-lideranca,
  .line {
    .left-line {
      display: none;
    }
    &::after,
    &::before {
      display: none;
    }
  }
  .section-hero-blog {
    &::before {
      display: none;
    }
  }
  .section-hero {
    .right-line {
      background: none;
      right: 50%;
    }
  }
}
