.swiperParceiros {
  height: 100%;
  width: 67rem;
  .item {
    width: 21rem;
    height: 18rem;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.3rem;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    img {
      transition: 0.3s;
    }
  }
  .items-slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 2rem;
    margin-top: 1rem;
  }

  .swiper-button-next-parceiros,
  .swiper-button-prev-parceiros {
    position: unset;
    margin-top: calc(1px - (var(--swiper-navigation-size) / 2));
    width: unset;
    height: 2.7rem;
    filter: brightness(1000%);
    transition: 0.3s;
    &:hover {
      filter: brightness(1);
    }
  }
  .swiper-button-prev-parceiros {
    &::after {
      content: url("../img/arrow-prev.svg");
    }
  }
  .swiper-button-next-parceiros {
    &::after {
      content: url("../img/arrow-next.svg");
    }
  }
  .pagination-container {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 5rem;
    right: 40rem;
  }
  .swiper-pagination-parceiros {
    width: unset;
    position: relative;
    position: relative;
    top: -0.7rem;
  }
  .swiper-pagination-bullet {
    --swiper-pagination-bullet-inactive-opacity: 0.9;
    position: relative;
    width: 3.6rem;
    height: 1rem;
    border-radius: 0.2rem;
    border: 0.22rem solid $white;
    background-color: transparent;
    transition: 0.3s;
    &:hover {
      border: 0.22rem solid $green;
    }
  }
  .swiper-pagination-bullet-active {
    border: 0.22rem solid $green;
    background-color: transparent;
  }
}
.swiperHeader {
  .swiper-buttons-container {
    display: flex;
    height: auto;
    position: absolute;
    right: 5%;
    bottom: 40%;
    gap: 1rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: unset;
  }
  position: absolute;
  width: 100%;
  height: 80rem;
  top: 0;
  display: flex;

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19rem;
    padding: 29rem 0;
    height: 100%;
    background-size: cover;
    z-index: 1;
    position: relative;
    background-blend-mode: multiply;
    justify-content: space-between;
    background-image: url("../img/bg_header.png");
  }
  .swiper-slide::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 1;
    background: #2623328c;
  }
  .swiper-button-prev {
    display: flex;
    color: $white;
    padding: 2.5rem;
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 50%;
    --swiper-navigation-size: 14px;
    transition: 0.7s;
    &:hover {
      background: $gray-light;
      color: $white;
    }
  }
  .swiper-button-next {
    color: $green;
    padding: 2rem;
    border: 0.5rem solid $green;
    border-radius: 50%;
    --swiper-navigation-size: 14px;
    transition: 0.7s;
    &:hover {
      background: $green;
      color: $white;
    }
  }
}

.swiperTestimonial {
  height: 40rem;

  .swiper-buttons-container {
    display: flex;
    height: auto;
    justify-content: center;
    position: absolute;
    bottom: 15%;
    gap: 0.5rem;
    right: 50%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: $white;
    padding: 2.5rem;
    background-color: $orange;
    border-radius: 50%;
    font-weight: 600;
    --swiper-navigation-size: 10px;
    transition: 0.7s;

    &:hover {
      background: $green;
    }
  }
  .swiper-button-next {
    left: 5px;
    right: auto;
  }
  .swiper-button-prev {
    left: auto;
    right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .swiperParceiros {
    .pagination-container {
      right: 46rem;
      gap: 0.5rem;
    }
  }
}
@media screen and (max-width: 1200px) {
  .section-parceiros {
    background-size: cover;
    .col-1 {
      max-width: 30%;
      img {
        position: absolute;
        top: -4.3rem;
        left: 0;
      }
    }

    .swiperParceiros {
      max-width: 100%;
      .item {
        width: 17.6rem;
        height: 15rem;
        img {
          width: 90%;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        transform: scale(0.9);
      }
      .swiper-pagination-bullet {
        width: 2.62em;
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .swiperParceiros {
    .items-slider {
      justify-content: center;
    }
    .pagination-container {
      position: unset;
      bottom: unset;
      right: unset;
    }
  }
  .swiperHeader {
    .swiper-buttons-container {
      bottom: 3.5%;
    }
    .swiper-slide {
      gap: 19rem;
      padding: 28rem 0;
      background-position-x: -32rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .section-depoimentos {
    .container {
      max-width: unset;
    }
  }
  .swiperTestimonial {
    width: 100%;
    height: 40rem;
    .swiper-buttons-container {
      bottom: 20%;
    }
  }
}
@media screen and (max-width: 743px) {
  .swiperHeader {
    .swiper-slide {
      gap: 18rem;
      padding: 27rem 0;
    }
  }
}

@media screen and (max-width: 500px) {
  .swiperHeader {
    height: 60rem;
    .swiper-slide {
      gap: 5rem;
      padding: 20rem 0;
    }
  }
  .swiperTestimonial {
    height: 47rem;
  }
}

@media screen and (max-width: 415px) {
  .swiperHeader {
    .swiper-slide {
      gap: 3rem;
      padding: 16rem 0;
    }
  }
  .section-parceiros {
    .swiperParceiros {
      .item {
        width: 13rem;
      }
    }
  }
}
