@mixin heading-2 {
  color: $gray-light;
  font-weight: 700;
  font-size: 3rem;

  @content;
}

@mixin heading-3 {
  text-align: center;
  color: $orange;
  letter-spacing: 0.37rem;
  font-size: 1.5rem;
  font-weight: 500;
  @content;
}

span {
  color: $orange;
  font-weight: 700;
}
