@import "_colors.scss";
@import "_home.scss";
@import "_footer.scss";
@import "_header.scss";
@import "_swiper.scss";
@import "_card-grid.scss";
@import "_typography.scss";
@import "_btn.scss";
@import "_line-text.scss";
@import "_blog.scss";
@import "_breadcrumb.scss";

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: hidden;
}
/*RESET CSS*/

/*general*/
body {
  font-family: "Montserrat", sans-serif;
  color: $gray-dark;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  &.--blog {
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

// @media (min-width: 1300px) {
//   .container {
//     max-width: 1260px;
//   }
// }
/*general*/

.title {
  @include heading-2();
  text-align: center;
  &.--quemSomos {
    text-align: left;
  }
}
.subtitle {
  @include heading-3();
}

/*media queries*/
@media screen and (max-width: 600px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
/*media queries*/
