/*section-hero*/
.section-hero {
  padding: 6rem 0;
  color: #fff;
  height: 80rem;
}

.section-hero .header-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero .header-texto h1 {
  font-size: 5rem;
  margin-bottom: 50px;
  max-width: 70rem;
  font-weight: 500;
  text-align: center;
}

.section-hero .header-texto span {
  text-transform: uppercase;
}

.section-hero .header-afiliados {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero .header-afiliados a {
  max-height: 2.9rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.section-hero .header-afiliados a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section-hero .linha-header {
  height: 4rem;
  width: 0.1rem;
  background-color: #fff;
}

.section-hero .paragraph-afiliados:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 500;
}

.section-hero .paragraph-afiliados:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 400;
}

/*section-hero*/
/*section-quem-somos*/
.section-quem-somos {
  padding: 11.5rem 0;
}

.section-quem-somos .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  margin-bottom: 8rem;
}

.section-quem-somos .col-1 h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  margin-bottom: 2rem;
}

.section-quem-somos .col-1 p {
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 5rem;
  line-height: 3.5rem;
}

.section-quem-somos .col-2 p {
  font-weight: 300;
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-bottom: 2.4rem;
}

/*section-quem-somos*/
/*section-lideranca*/
.section-lideranca {
  background-color: #2b2b2b;
}

/*section-lideranca*/
.section-lideranca .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.section-lideranca h2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 3rem;
  font-size: 3rem;
}

.section-lideranca p {
  color: #fff;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 130%;
  max-width: 51.8rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section-lideranca a {
  color: #fff;
  font-weight: 700;
}

.section-lideranca .col-1,
.section-lideranca .col-2 {
  width: 45%;
}

.section-lideranca .col-3 {
  width: 10%;
}

.section-lideranca .col-1 {
  background-image: url("../img/erica-amores.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.section-lideranca .col-2 {
  padding: 10rem 0 8rem 8rem;
}

.section-lideranca .col-2 .destaque {
  font-weight: 700;
  margin-top: 5rem;
}

.section-lideranca .retangulo-verde {
  border-radius: 3.1rem;
  background: -webkit-gradient(linear, left top, right top, from(#84b943), to(rgba(132, 185, 67, 0.12)));
  background: linear-gradient(90deg, #84b943 0%, rgba(132, 185, 67, 0.12) 100%);
  position: relative;
  left: -30%;
  width: 60%;
  height: 2.3rem;
  z-index: 1;
}

.section-lideranca .referencia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.5rem;
  gap: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section-lideranca .referencia:hover p {
  margin-left: 0.5rem;
}

.section-lideranca .referencia:hover img {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.section-lideranca .paragraph-lideranca {
  margin-top: 3.5rem;
}

.section-lideranca .referencia-linkedin {
  margin-top: 3rem;
}

.section-lideranca .referencia-linkedin a {
  gap: 0.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 2.2rem;
}

.section-lideranca .referencia-linkedin a:hover {
  color: #f59121;
}

.section-lideranca .referencia-linkedin a p {
  font-size: 1.5rem;
  font-weight: 700;
}

.section-lideranca .referencia-linkedin img {
  width: 2rem;
}

.section-lideranca .col-3 {
  position: relative;
}

/*section-lideranca*/
/*section-servicos*/
.section-servicos {
  padding: 10rem 0;
}

.section-servicos .title {
  margin-bottom: 8rem;
}

/*section-servicos*/
/*section-depoimentos*/
.section-depoimentos::before {
  content: url("../img/icon-quotation-mark-smaller.png");
  position: absolute;
  z-index: -1;
  top: 5rem;
  left: 12rem;
}

.section-depoimentos::after {
  position: absolute;
  content: url("../img/icon-quotation-mark-bigger.png");
  z-index: -1;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.section-depoimentos {
  position: relative;
  padding: 12rem 0 15rem 0;
}

.section-depoimentos h2 {
  margin-bottom: 5rem;
}

.section-depoimentos .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-depoimentos .card-depoimento {
  margin-top: 4rem;
  height: 64%;
  padding: 5rem 3rem 2rem 3rem;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 71, 125, 0.05);
          box-shadow: 0px 20px 20px rgba(0, 71, 125, 0.05);
  font-weight: 300;
  line-height: 180%;
  font-size: 1.5rem;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.section-depoimentos .card-depoimento:hover {
  -webkit-box-shadow: 0px 20px 20px rgba(0, 71, 125, 0.09);
          box-shadow: 0px 20px 20px rgba(0, 71, 125, 0.09);
}

.section-depoimentos .card-depoimento:hover .icon-quotationmarks {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-depoimentos .card-depoimento-nome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.section-depoimentos .card-depoimento:nth-of-type(2) p {
  text-align: end;
}

.section-depoimentos .card-depoimento:nth-of-type(2) .icon-quotationmarks {
  right: 4rem;
}

.section-depoimentos .depoimento-2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-depoimentos .icon-quotationmarks {
  padding: 1.8rem 1.2rem;
  border: 0.1rem solid #f59121;
  border-radius: 1.4rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
  top: -2.5rem;
}

.section-depoimentos .icon-depoimento-borda {
  padding: 1rem;
  border-radius: 50%;
  border: 0.1rem solid #f3f4f8;
}

.section-depoimentos .card-depoimento-nome:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

/*section-depoimentos*/
/*section-parceiros*/
.section-parceiros {
  position: relative;
  background-repeat: no-repeat;
  z-index: 1;
  background-position-x: right;
  background-size: contain;
  margin-bottom: 0px;
  background-blend-mode: multiply;
  background-image: url("../img/bg-section-parceiros.png");
}

.section-parceiros p {
  font-weight: 200;
  margin-top: 3rem;
  max-width: 30rem;
}

.section-parceiros .row {
  padding: 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-parceiros .row h3,
.section-parceiros .row h2,
.section-parceiros .row p {
  color: #fff;
  text-align: left;
}

.section-parceiros .row h2 {
  max-width: 20rem;
  line-height: 130%;
  font-weight: 700;
  font-size: 3rem;
}

.section-parceiros .row h3 {
  margin-top: 2rem;
  letter-spacing: 3.7px;
  font-size: 1.7rem;
}

.section-parceiros .row p {
  width: 400px;
  font-size: 15px;
  line-height: 180%;
}

.section-parceiros::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background: linear-gradient(80deg, #232323 54%, rgba(35, 33, 43, 0.588673) 83%, rgba(34, 29, 57, 0.274947) 100%);
}

.section-parceiros .col-1 img {
  position: absolute;
  top: -4.3rem;
  left: 0;
}

/*section-parceiros*/
/*media queries*/
@media screen and (max-width: 1200px) {
  .section-lideranca .col-1 {
    background-position: center;
  }
  .section-lideranca .col-2 {
    padding: 6rem 4rem 6rem 4rem;
  }
}

@media screen and (max-width: 1000px) {
  .section-hero .header-texto h1 {
    font-size: 3rem;
    max-width: 81.2rem;
  }
  .section-hero .header-afiliados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-hero .header-afiliados .mouse-icon-header-afiliados {
    display: unset;
  }
  .section-hero .header-afiliados .linha-header {
    display: none;
  }
  .section-quem-somos,
  .section-depoimentos {
    padding: 5rem 0;
  }
  .section-quem-somos .row-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5rem;
  }
  .section-quem-somos .col-1 p {
    font-size: 2.3rem;
  }
  .section-quem-somos .col-1 a {
    width: 100%;
  }
  .section-lideranca .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-lideranca .col-1 {
    background-size: cover;
    background-position-y: top;
    min-height: 65rem;
    width: 100%;
  }
  .section-lideranca .col-2 {
    width: 100%;
  }
  .section-lideranca .col-2 .paragraph-lideranca {
    max-width: unset;
  }
  .section-lideranca .col-3 {
    display: none;
  }
  .section-depoimentos::before, .section-depoimentos::after {
    content: "";
  }
  .section-parceiros .row {
    gap: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-parceiros .row .col-1,
  .section-parceiros .row p,
  .section-parceiros .row h3,
  .section-parceiros .row h2 {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section-hero {
    height: 60rem;
  }
  .section-hero .header-texto h1 {
    letter-spacing: -0.05rem;
    margin-bottom: 3rem;
  }
  .section-quem-somos .row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-quem-somos .row-2 .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .section-lideranca .col-1 {
    min-height: 40rem;
  }
  .section-lideranca .row h2 {
    font-size: 2.5rem;
  }
  .section-lideranca .row p {
    font-size: 1.6rem;
  }
  .section-servicos {
    padding: 5rem 0;
  }
  .section-servicos .title {
    margin-bottom: 10rem;
  }
  .section-parceiros .row {
    padding: 5rem 0;
  }
  .section-parceiros .col-1 img {
    display: none;
  }
  .section-depoimentos .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-depoimentos h2 {
    margin-bottom: 5rem;
  }
  .section-depoimentos .card-depoimento {
    padding: 5rem 2rem 1rem 2rem;
    width: 100%;
    height: 64%;
  }
  .section-depoimentos .icon-depoimento-borda {
    padding: unset;
    border: 0.07rem;
  }
  .section-depoimentos .card-depoimento-nome {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 400px) {
  .section-hero .header-texto h1 {
    max-width: 28rem;
  }
  .section-hero .afiliados-texto {
    padding: 0 5rem;
  }
  .section-hero .paragraph-afiliados p {
    max-width: 90%;
  }
  .section-lideranca .col-1 {
    min-height: 30rem;
  }
  .section-lideranca .col-2 {
    padding: 4rem 2rem;
  }
  .section-lideranca .referencia-linkedin {
    gap: 3rem;
  }
}

footer {
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
  background-position-x: center;
  background-size: cover;
  margin-bottom: 0px;
  background-blend-mode: multiply;
  background-image: url("../img/bg-footer-hero.png");
}

footer .col-1,
footer .contact-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .col-1 img,
footer .contact-1 img {
  width: 7.5rem;
  border: 0.8rem solid #84b943;
  padding: 2rem;
  border-radius: 1.2rem;
}

footer .col-1 img:hover,
footer .contact-1 img:hover {
  background-color: #84b943;
}

footer .col-1 a,
footer .contact-1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

footer .contact-1 a {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .contact-1 a:hover img {
  background-color: #84b943;
}

footer .contact-1 a:hover p {
  color: #84b943;
  text-shadow: 0px 1px 1px rgba(45, 119, 61, 0.425);
}

footer .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .col-2 p {
  font-weight: 600;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer .contact-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 10px;
  position: relative;
  left: 14%;
}

footer .contact-2 .icon-footer {
  background-color: #9f9f9f;
  border-radius: 50%;
  padding: 0.8rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

footer .contact-2 .icon-footer:hover {
  background-color: #84b943;
}

footer .contact-2 .icon-footer img {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .col-1 {
  width: 45rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .col-1 h2 {
  color: #fff;
  margin-bottom: 5.5rem;
}

footer .col-1 p {
  color: #fff;
  font-size: 1.7rem;
  line-height: 180%;
}

footer .col-1 a {
  margin-top: 9rem;
}

footer .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8rem 0;
}

footer .row-1 h2 {
  font-size: 3rem;
}

footer .row-1 p {
  font-size: 1.8rem;
}

footer .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

footer .row-2 p {
  line-height: 200%;
  font-size: 1.2rem;
  letter-spacing: 0.23rem;
  font-weight: 300;
  color: #fff;
}

footer .row-2 a img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .row-2 a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .kbr-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer .kbr-footer a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background: linear-gradient(80deg, #232323 54%, rgba(35, 33, 43, 0.588673) 83%, rgba(34, 29, 57, 0.274947) 100%);
}

.section-copyright-footer {
  background-color: #1d1d1e;
}

/*media queries*/
@media screen and (max-width: 1000px) {
  footer .row-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  footer .row-1 .col-1 h2 {
    margin-bottom: 30px;
  }
  footer .row-1 .col-1 a {
    margin-top: 30px;
  }
  footer .row-1 .col-2 {
    margin-top: 60px;
    margin-left: 0;
  }
  footer .row-1 .contact-2 {
    left: unset;
  }
  footer .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 1000px) and (max-width: 768px) {
  footer .row-1 .col-2 {
    gap: 20px;
  }
  footer .row-1 .contact-2 {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    left: unset;
  }
}

@media screen and (max-width: 1000px) and (max-width: 600px) {
  footer .row-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  footer .row-1 p {
    font-size: 1.5rem;
  }
  footer .row-1 h2 {
    font-size: 2.1rem;
  }
  footer .row-1 .col-1,
  footer .row-1 .col-2 {
    max-width: 96%;
  }
  footer .row-1 .col-1 .btn {
    width: 100%;
  }
  footer .row-1 .col-2 .contact-1 a {
    gap: 1rem;
  }
  footer .row-1 .col-2 .contact-1 img {
    border: 0.6rem solid #84b943;
    width: 4rem;
    padding: 6px;
  }
  footer .row-1 .col-2 p {
    word-break: break-all;
  }
  .section-copyright-footer {
    text-align: center;
  }
}

/*media queries*/
header {
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .btn {
  color: #fff;
}

header .menu {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  margin-left: 1rem;
}

header #btn-mobile {
  display: none;
}

header .geometric-header {
  position: absolute;
  top: -2.5rem;
  right: -3rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

header .btn-whatsapp-header {
  position: fixed;
  top: 4rem;
  right: 6rem;
  -webkit-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
}

header .logo-header {
  width: 13rem;
  position: absolute;
}

header .icon-whatsapp-header,
header .logo-header {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header .icon-whatsapp-header:hover,
header .logo-header:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header nav {
  padding: 3rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav li {
  display: inline;
}

header nav a {
  font-size: 1.2rem;
  color: #fff;
  padding-bottom: 0.4rem;
  border-bottom: 0.2rem solid transparent;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header nav a:hover {
  border-bottom: 0.2rem solid #f59121;
  text-shadow: 0 0 0.1rem #fff;
}

/*media queries*/
@media screen and (max-width: 1200px) {
  header nav ul {
    max-width: 750px;
  }
}

@media screen and (max-width: 1000px) {
  header nav {
    padding: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav ul {
    max-width: unset;
  }
  header .logo-header {
    top: 0;
  }
  header .linha-header {
    display: none;
  }
  header .header-afiliados {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .btn-whatsapp-header {
    display: none;
  }
  header .geometric-header {
    position: absolute;
    top: 0.3rem;
    right: -14rem;
  }
  header .menu {
    right: 0;
    top: 5rem;
  }
  header .menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    width: 100%;
    top: 12rem;
    right: 0;
    background-color: #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1000;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
  }
  header .nav-menu.active .menu-list {
    height: 24rem;
    visibility: visible;
    overflow-y: auto;
  }
  header .menu-list a {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  header #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    gap: 1.5rem;
    position: absolute;
    right: 0;
    top: 4rem;
  }
  header #hamburguer {
    border-top: 2px solid #fff;
    width: 30px;
  }
  header #hamburguer::before,
  header #hamburguer::after {
    content: "";
    display: block;
    position: relative;
    width: 30px;
    height: 2px;
    margin-top: 5px;
    border-top: 5px;
    background-color: #fff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  header .nav-menu.active #hamburguer {
    border-top: transparent;
  }
  header .nav-menu.active #hamburguer::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header .nav-menu.active #hamburguer::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}

/*media queries*/
.swiperParceiros {
  height: 100%;
  width: 67rem;
}

.swiperParceiros .item {
  width: 21rem;
  height: 18rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2.3rem;
}

.swiperParceiros .item:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.swiperParceiros .item img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiperParceiros .items-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 2rem;
  margin-top: 1rem;
}

.swiperParceiros .swiper-button-next-parceiros,
.swiperParceiros .swiper-button-prev-parceiros {
  position: unset;
  margin-top: calc(1px - (var(--swiper-navigation-size) / 2));
  width: unset;
  height: 2.7rem;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiperParceiros .swiper-button-next-parceiros:hover,
.swiperParceiros .swiper-button-prev-parceiros:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.swiperParceiros .swiper-button-prev-parceiros::after {
  content: url("../img/arrow-prev.svg");
}

.swiperParceiros .swiper-button-next-parceiros::after {
  content: url("../img/arrow-next.svg");
}

.swiperParceiros .pagination-container {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  gap: 1rem;
  cursor: pointer;
  position: absolute;
  bottom: 5rem;
  right: 40rem;
}

.swiperParceiros .swiper-pagination-parceiros {
  width: unset;
  position: relative;
  position: relative;
  top: -0.7rem;
}

.swiperParceiros .swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-opacity: 0.9;
  position: relative;
  width: 3.6rem;
  height: 1rem;
  border-radius: 0.2rem;
  border: 0.22rem solid #fff;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.swiperParceiros .swiper-pagination-bullet:hover {
  border: 0.22rem solid #84b943;
}

.swiperParceiros .swiper-pagination-bullet-active {
  border: 0.22rem solid #84b943;
  background-color: transparent;
}

.swiperHeader {
  position: absolute;
  width: 100%;
  height: 80rem;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiperHeader .swiper-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: absolute;
  right: 5%;
  bottom: 40%;
  gap: 1rem;
}

.swiperHeader .swiper-button-prev,
.swiperHeader .swiper-button-next {
  position: unset;
}

.swiperHeader .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19rem;
  padding: 29rem 0;
  height: 100%;
  background-size: cover;
  z-index: 1;
  position: relative;
  background-blend-mode: multiply;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../img/bg_header.png");
}

.swiperHeader .swiper-slide::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background: #2623328c;
}

.swiperHeader .swiper-button-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 50%;
  --swiper-navigation-size: 14px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.swiperHeader .swiper-button-prev:hover {
  background: #9f9f9f;
  color: #fff;
}

.swiperHeader .swiper-button-next {
  color: #84b943;
  padding: 2rem;
  border: 0.5rem solid #84b943;
  border-radius: 50%;
  --swiper-navigation-size: 14px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.swiperHeader .swiper-button-next:hover {
  background: #84b943;
  color: #fff;
}

.swiperTestimonial {
  height: 40rem;
}

.swiperTestimonial .swiper-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 15%;
  gap: 0.5rem;
  right: 50%;
}

.swiperTestimonial .swiper-button-next,
.swiperTestimonial .swiper-button-prev {
  color: #fff;
  padding: 2.5rem;
  background-color: #f59121;
  border-radius: 50%;
  font-weight: 600;
  --swiper-navigation-size: 10px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.swiperTestimonial .swiper-button-next:hover,
.swiperTestimonial .swiper-button-prev:hover {
  background: #84b943;
}

.swiperTestimonial .swiper-button-next {
  left: 5px;
  right: auto;
}

.swiperTestimonial .swiper-button-prev {
  left: auto;
  right: 5px;
}

@media screen and (min-width: 1200px) {
  .swiperParceiros .pagination-container {
    right: 46rem;
    gap: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .section-parceiros {
    background-size: cover;
  }
  .section-parceiros .col-1 {
    max-width: 30%;
  }
  .section-parceiros .col-1 img {
    position: absolute;
    top: -4.3rem;
    left: 0;
  }
  .section-parceiros .swiperParceiros {
    max-width: 100%;
  }
  .section-parceiros .swiperParceiros .item {
    width: 17.6rem;
    height: 15rem;
  }
  .section-parceiros .swiperParceiros .item img {
    width: 90%;
  }
  .section-parceiros .swiperParceiros .swiper-button-next,
  .section-parceiros .swiperParceiros .swiper-button-prev {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .section-parceiros .swiperParceiros .swiper-pagination-bullet {
    width: 2.62em;
  }
}

@media screen and (max-width: 1000px) {
  .swiperParceiros .items-slider {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .swiperParceiros .pagination-container {
    position: unset;
    bottom: unset;
    right: unset;
  }
  .swiperHeader .swiper-buttons-container {
    bottom: 3.5%;
  }
  .swiperHeader .swiper-slide {
    gap: 19rem;
    padding: 28rem 0;
    background-position-x: -32rem;
  }
}

@media screen and (max-width: 768px) {
  .section-depoimentos .container {
    max-width: unset;
  }
  .swiperTestimonial {
    width: 100%;
    height: 40rem;
  }
  .swiperTestimonial .swiper-buttons-container {
    bottom: 20%;
  }
}

@media screen and (max-width: 743px) {
  .swiperHeader .swiper-slide {
    gap: 18rem;
    padding: 27rem 0;
  }
}

@media screen and (max-width: 500px) {
  .swiperHeader {
    height: 60rem;
  }
  .swiperHeader .swiper-slide {
    gap: 5rem;
    padding: 20rem 0;
  }
  .swiperTestimonial {
    height: 47rem;
  }
}

@media screen and (max-width: 415px) {
  .swiperHeader .swiper-slide {
    gap: 3rem;
    padding: 16rem 0;
  }
  .section-parceiros .swiperParceiros .item {
    width: 13rem;
  }
}

.row-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-grid.--quemSomos {
  position: relative;
  row-gap: 3rem;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
}

.row-grid.--servicos {
  row-gap: 8rem;
  -webkit-column-gap: 2.7rem;
          column-gap: 2.7rem;
}

.teste-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.box {
  background: -webkit-gradient(linear, left top, right top, color-stop(1.45%, rgba(243, 244, 248, 0)), color-stop(106.87%, #f3f4f8));
  background: linear-gradient(90deg, rgba(243, 244, 248, 0) 1.45%, #f3f4f8 106.87%);
  border-radius: 0.9rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 0.1rem solid transparent;
}

.box:hover {
  -webkit-animation-direction: normal;
          animation-direction: normal;
  border-color: #f59121;
  background: #fff;
}

.box:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.box::after {
  content: "";
  position: absolute;
  z-index: -1;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
  background: linear-gradient(to right, #fff, transparent);
  top: -1px;
  left: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}

.box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  padding: 1.5rem;
  border: 0.1rem solid #f59121;
  border-radius: 1.4rem;
  width: 9rem;
}

.box p {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.9rem;
}

.box h2 {
  margin-left: 10rem;
}

.box.--quemSomos {
  padding: 4.5rem 4rem;
  height: 17.4rem;
  width: 100%;
  max-width: 52.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box.--quemSomos img {
  left: -2rem;
}

.box.--quemSomos p {
  padding-left: 6rem;
}

.box.--servicos {
  padding: 1.2rem 2.5rem 6.5rem 2rem;
  width: 100%;
  max-width: 34.4rem;
}

.box.--servicos img {
  background-color: #fff;
  top: -3.5rem;
  left: 1.8rem;
}

.box.--servicos:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5rem;
  padding: 6rem 2.5rem 4rem 2rem;
}

.box.--servicos:last-of-type .box-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  gap: 4rem;
}

.box.--servicos:last-of-type p {
  margin-left: unset;
  font-size: 2rem;
  line-height: 106%;
  max-width: 17rem;
}

.box.--servicos:last-of-type strong {
  color: #9f9f9f;
}

.box.--servicos:last-of-type img {
  border: none;
  position: unset;
  padding: 0;
  border-radius: unset;
}

.box.--servicos h2 {
  font-size: 2.5rem;
  color: #9f9f9f;
  margin-bottom: 2.5rem;
  width: 22rem;
}

@media screen and (max-width: 1000px) {
  .row-grid.--servicos {
    padding-right: unset;
  }
  .row-grid.--quemSomos {
    row-gap: 8rem;
  }
  .box {
    background: #f3f4f8a6;
  }
  .box.--servicos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 36.6rem;
    max-width: 100%;
    padding: 1.2rem 2.5rem 3.5rem 2rem;
  }
  .box.--servicos:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5rem;
    padding: 1.2rem 2.5rem 3.5rem 2rem;
  }
  .box.--servicos:last-of-type .box-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-weight: 300;
    gap: unset;
  }
  .box.--servicos:last-of-type .box-content img {
    position: relative;
    top: -5rem;
    padding: 1.5rem;
    border: 0.1rem solid #f59121;
    border-radius: 1.4rem;
  }
  .box.--servicos:last-of-type .box-content p {
    max-width: unset;
    text-align: center;
  }
  .box.--servicos img {
    background-color: #fff;
    left: unset;
    top: -5rem;
  }
  .box.--servicos p {
    margin-left: 0;
  }
  .box.--servicos .teste-div {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box.--servicos h2 {
    margin-top: 4.5rem;
    width: 100%;
    margin-left: unset;
  }
  .box.--quemSomos {
    max-width: 100%;
    padding: 4rem 4rem;
    min-height: 18.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: unset;
    height: unset;
  }
  .box.--quemSomos img {
    left: unset;
    top: -5rem;
    background-color: #fff;
  }
  .box.--quemSomos p {
    margin-top: 2rem;
    padding-left: unset;
  }
}

@media screen and (max-width: 400px) {
  .box.--servicos {
    min-width: unset;
  }
  .box.--servicos .btn {
    width: 100%;
  }
  .row-grid.--servicos {
    gap: 8em;
  }
}

span {
  color: #f59121;
  font-weight: 700;
}

.btn {
  border-radius: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn.--main {
  border: 0.7rem solid #84b943;
  color: #84b943;
  width: 28rem;
  height: 7rem;
}

.btn.--hero {
  color: #fff;
}

.btn:hover {
  background-color: #84b943;
  color: #fff;
}

.btn.--portfolio {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #fff;
  border-radius: 3.5rem;
  border: 0.2rem solid #9f9f9f;
  width: 17rem;
  height: 3.4rem;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn.--portfolio:hover {
  border: 0.2rem solid #84b943;
}

.line {
  height: 100%;
}

.line::after {
  content: "";
  position: absolute;
  right: 5rem;
  bottom: 0;
  height: 90%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.line::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  right: 15%;
}

.section-hero,
.section-hero-blog {
  position: relative;
}

.section-hero::before,
.section-hero-blog::before {
  content: "";
  position: absolute;
  left: 5rem;
  bottom: 0;
  height: 90%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.section-hero::after,
.section-hero-blog::after {
  content: "";
  position: absolute;
  right: 5rem;
  bottom: 0;
  height: 90%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.section-hero .right-line,
.section-hero-blog .right-line {
  position: absolute;
  height: 70%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 7rem;
  right: 15%;
  z-index: 2;
}

.section-hero .right-line .mouse-icon,
.section-hero-blog .right-line .mouse-icon {
  position: absolute;
  top: 100%;
}

.left-line {
  position: absolute;
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  text-orientation: upright;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 7rem;
  z-index: 2;
}

.left-line.--hero {
  left: 15%;
}

.left-line.--lideranca {
  right: 3rem;
  bottom: 2rem;
  height: 115%;
}

.left-line.--lideranca::before {
  height: 40%;
}

.left-line.--lideranca::after {
  height: 40%;
}

.left-line::before {
  content: "";
  position: absolute;
  height: 20%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  top: -20px;
  left: 50%;
}

.left-line::after {
  content: "";
  position: absolute;
  height: 20%;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -20px;
  left: 50%;
}

@media screen and (max-width: 1000px) {
  .section-hero .left-line,
  .section-lideranca .left-line,
  .line .left-line {
    display: none;
  }
  .section-hero::after, .section-hero::before,
  .section-lideranca::after,
  .section-lideranca::before,
  .line::after,
  .line::before {
    display: none;
  }
  .section-hero-blog::before {
    display: none;
  }
  .section-hero .right-line {
    background: none;
    right: 50%;
  }
}

.section-hero-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40rem;
  background-size: cover;
  z-index: 1;
  position: relative;
  background-blend-mode: multiply;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/bg-hero-blog.png");
  background-position-x: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
}

.section-hero-blog.--single {
  height: 50rem;
  background-position-y: unset;
}

.section-hero-blog .logo-blog {
  position: absolute;
  bottom: 9rem;
}

.section-hero-blog .geometric-blog {
  position: relative;
  bottom: -4rem;
  right: -7.5rem;
}

.section-hero-blog .erica-amores-round {
  position: absolute;
}

.section-hero-blog::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background: #2623328c;
}

.section-intro-blog {
  padding: 5rem 0;
}

.section-intro-blog .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6rem;
}

.section-intro-blog .content {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-intro-blog h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #9f9f9f;
}

.section-intro-blog p {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #9f9f9f;
  line-height: 150%;
}

.section-intro-blog .img-round {
  border-radius: 50%;
}

.section-blog,
.section-more-posts {
  padding-bottom: 10rem;
}

.section-blog .image-blog,
.section-more-posts .image-blog {
  width: 56rem;
}

.section-blog .image-blog.--morePosts,
.section-more-posts .image-blog.--morePosts {
  width: 100%;
}

.section-blog .img-blog,
.section-more-posts .img-blog {
  -o-object-fit: cover;
     object-fit: cover;
  width: 56rem;
  height: 36rem;
  border-radius: 0.8rem;
}

.section-blog .img-blog.--morePosts,
.section-more-posts .img-blog.--morePosts {
  width: 100%;
  border-radius: 0.8rem 0.8rem 0 0;
}

.section-blog .search-filter,
.section-more-posts .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}

.section-blog .search-filter h2,
.section-more-posts .search-filter h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.section-blog form,
.section-more-posts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.section-blog form select,
.section-blog form option,
.section-more-posts form select,
.section-more-posts form option {
  color: #6e6e6e;
  padding-left: 0.6rem;
}

.section-blog form select:active,
.section-blog form select:hover,
.section-more-posts form select:active,
.section-more-posts form select:hover {
  outline: none !important;
}

.section-blog .cat_dropdown,
.section-blog .search-filter-text,
.section-more-posts .cat_dropdown,
.section-more-posts .search-filter-text {
  border: 4px solid #e2e2e2;
  border-radius: 1rem;
  width: 36.5rem;
  background-color: #fff;
  height: 6rem;
  font-family: "Montserrat", sans-serif;
  outline: 0;
}

.section-blog .cat_dropdown::-webkit-input-placeholder,
.section-blog .search-filter-text::-webkit-input-placeholder,
.section-more-posts .cat_dropdown::-webkit-input-placeholder,
.section-more-posts .search-filter-text::-webkit-input-placeholder {
  color: #9c9c9c;
}

.section-blog .cat_dropdown:-ms-input-placeholder,
.section-blog .search-filter-text:-ms-input-placeholder,
.section-more-posts .cat_dropdown:-ms-input-placeholder,
.section-more-posts .search-filter-text:-ms-input-placeholder {
  color: #9c9c9c;
}

.section-blog .cat_dropdown::-ms-input-placeholder,
.section-blog .search-filter-text::-ms-input-placeholder,
.section-more-posts .cat_dropdown::-ms-input-placeholder,
.section-more-posts .search-filter-text::-ms-input-placeholder {
  color: #9c9c9c;
}

.section-blog .cat_dropdown::placeholder,
.section-blog .search-filter-text::placeholder,
.section-more-posts .cat_dropdown::placeholder,
.section-more-posts .search-filter-text::placeholder {
  color: #9c9c9c;
}

.section-blog .cat_dropdown:hover,
.section-blog .search-filter-text:hover,
.section-more-posts .cat_dropdown:hover,
.section-more-posts .search-filter-text:hover {
  background-color: unset;
}

.section-blog .search-filter-text,
.section-more-posts .search-filter-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-blog .search-filter-text select:active,
.section-blog .search-filter-text select:hover,
.section-more-posts .search-filter-text select:active,
.section-more-posts .search-filter-text select:hover {
  outline: none;
}

.section-blog .search-filter-text button,
.section-more-posts .search-filter-text button {
  background: unset;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-blog .search-filter-text button:hover,
.section-more-posts .search-filter-text button:hover {
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.section-blog .search-filter-text button img,
.section-more-posts .search-filter-text button img {
  padding-right: 1rem;
}

.section-blog .search-filter-text input,
.section-more-posts .search-filter-text input {
  border-radius: 1rem;
  border: none;
  padding-left: 1rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  outline: 0;
}

.section-blog .search-filter-text input::focus,
.section-more-posts .search-filter-text input::focus {
  outline: 0;
  border: none;
}

.section-blog .cards-blog,
.section-more-posts .cards-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-blog .card-blog,
.section-more-posts .card-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1rem;
  gap: 2rem;
}

.section-blog .card-blog.--single,
.section-more-posts .card-blog.--single {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.section-blog .card-blog.--morePosts,
.section-more-posts .card-blog.--morePosts {
  gap: unset;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.116);
}

.section-blog .content-blog,
.section-more-posts .content-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.6rem;
}

.section-blog .content-blog.--single,
.section-more-posts .content-blog.--single {
  padding: 5rem 0;
  gap: 2rem;
}

.section-blog .content-blog.--morePosts,
.section-more-posts .content-blog.--morePosts {
  max-width: 100%;
  padding: 3rem;
}

.section-blog .date-blog,
.section-more-posts .date-blog {
  color: #f59121;
  font-weight: 300;
  font-size: 1.3rem;
}

.section-blog .date-blog.--single,
.section-more-posts .date-blog.--single {
  font-size: 1.9rem;
}

.section-blog .category-blog,
.section-more-posts .category-blog {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.8rem;
  background-color: #84b943;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-blog .category-blog.--single,
.section-more-posts .category-blog.--single {
  padding: 1rem;
  font-size: 1.8rem;
}

.section-blog .category-blog:hover,
.section-more-posts .category-blog:hover {
  background-color: #f59121;
}

.section-blog .title-blog,
.section-more-posts .title-blog {
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: 900;
  color: #9f9f9f;
}

.section-blog .title-blog.--single,
.section-more-posts .title-blog.--single {
  margin-bottom: 4rem;
  font-size: 4rem;
}

.section-blog .title-blog.--morePosts,
.section-more-posts .title-blog.--morePosts {
  font-size: 2.2rem;
}

.section-blog .excerpt-blog,
.section-more-posts .excerpt-blog {
  font-weight: 300;
  color: #9f9f9f;
  font-size: 1.7rem;
}

.section-blog .text-blog p,
.section-more-posts .text-blog p {
  font-weight: 300;
  color: #9f9f9f;
  line-height: 2.8rem;
  font-size: 1.9rem;
  margin-bottom: 2.5rem;
}

.section-blog .content-blog-share,
.section-more-posts .content-blog-share {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.section-blog .content-blog-share a,
.section-more-posts .content-blog-share a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-blog .content-blog-share a:hover,
.section-more-posts .content-blog-share a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.section-blog .content-blog-share p,
.section-more-posts .content-blog-share p {
  font-size: 1.9rem;
  color: #f59121;
  font-weight: 300;
}

.section-blog .anchor-blog,
.section-more-posts .anchor-blog {
  color: #84b943;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.8rem;
  padding: 0.8rem 2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 3px solid #84b943;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-blog .anchor-blog.--single,
.section-more-posts .anchor-blog.--single {
  padding: 1rem 3.5rem;
  border: 0.5rem solid #84b943;
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 2rem;
}

.section-blog .anchor-blog:hover,
.section-more-posts .anchor-blog:hover {
  background-color: #84b943;
  color: #fff;
}

.section-blog .pagination,
.section-more-posts .pagination {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-blog .pagination .page-numbers::after,
.section-more-posts .pagination .page-numbers::after {
  content: "";
  width: 3.6rem;
  height: 0.6rem;
  margin-bottom: 0.4rem;
  border: 0.3rem solid #9f9f9f;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
  border-radius: 0.2rem;
}

.section-blog .pagination .current::after,
.section-more-posts .pagination .current::after {
  border: 0.3rem solid #84b943;
  -webkit-filter: unset;
          filter: unset;
}

.section-blog .pagination .page-numbers,
.section-more-posts .pagination .page-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  color: #9f9f9f;
}

.section-blog .pagination .page-numbers:hover,
.section-more-posts .pagination .page-numbers:hover {
  color: #84b943;
}

.section-blog .pagination .page-numbers:hover::after,
.section-more-posts .pagination .page-numbers:hover::after {
  border: 0.3rem solid #84b943;
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.section-blog .pagination .page-numbers.current,
.section-more-posts .pagination .page-numbers.current {
  color: #84b943;
}

.section-blog .pagination .page-numbers.next, .section-blog .pagination .page-numbers.prev,
.section-more-posts .pagination .page-numbers.next,
.section-more-posts .pagination .page-numbers.prev {
  position: unset;
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

.section-blog .pagination .page-numbers.next:hover, .section-blog .pagination .page-numbers.prev:hover,
.section-more-posts .pagination .page-numbers.next:hover,
.section-more-posts .pagination .page-numbers.prev:hover {
  -webkit-filter: unset;
          filter: unset;
}

.section-blog .pagination .page-numbers.next:hover::after, .section-blog .pagination .page-numbers.prev:hover::after,
.section-more-posts .pagination .page-numbers.next:hover::after,
.section-more-posts .pagination .page-numbers.prev:hover::after {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.section-blog .pagination .page-numbers.next::after,
.section-more-posts .pagination .page-numbers.next::after {
  content: url("../img/arrow-next.svg");
  border: none;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.section-blog .pagination .page-numbers.prev::after,
.section-more-posts .pagination .page-numbers.prev::after {
  content: url("../img/arrow-prev.svg");
  border: none;
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

.section-hero-blog {
  list-style-type: none;
  height: 30rem;
}

.section-newsletter-blog {
  padding: 5rem 0;
  background-color: #f59121;
}

.section-newsletter-blog .text-newsletter h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 3.5%;
  margin-bottom: 0.5rem;
}

.section-newsletter-blog .text-newsletter p {
  font-size: 1.5rem;
  color: #fff;
  max-width: 47rem;
}

.section-newsletter-blog .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.5rem;
}

.section-newsletter-blog form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-newsletter-blog input {
  width: 44rem;
  text-transform: uppercase;
  height: 6rem;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  background-color: unset;
  padding-left: 2rem;
}

.section-newsletter-blog input:focus {
  outline: 1px solid #fff !important;
  -webkit-box-shadow: 0 0 0.4em #fff;
          box-shadow: 0 0 0.4em #fff;
}

.section-newsletter-blog input::-webkit-input-placeholder {
  color: #fff;
}

.section-newsletter-blog input:-ms-input-placeholder {
  color: #fff;
}

.section-newsletter-blog input::-ms-input-placeholder {
  color: #fff;
}

.section-newsletter-blog input::placeholder {
  color: #fff;
}

.section-newsletter-blog button {
  border: 5px solid #fff;
  font-size: 1.6rem;
  border-radius: 0.8rem;
  color: #fff;
  width: 15rem;
  height: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: unset;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-newsletter-blog button:hover {
  background-color: #fff;
  color: #f59121;
  cursor: pointer;
}

.section-more-posts {
  padding: 5rem 0;
}

.section-more-posts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-more-posts .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  padding: 4rem 0;
}

.section-more-posts .title {
  color: #9f9f9f;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.section-more-posts .title::after {
  position: absolute;
  width: 9rem;
  border-radius: 3.1rem;
  height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-top: 4.5rem;
  content: "";
  background: #84b943;
}

@media screen and (max-width: 1200px) {
  .section-blog .title-blog {
    font-size: 2.5rem;
  }
  .section-blog .excerpt-blog {
    font-size: 1.4rem;
  }
  .section-blog .search-filter {
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 991px) {
  .section-blog {
    padding: 5rem 0;
  }
  .section-blog .cards-blog {
    gap: 5rem;
  }
  .section-blog .card-blog {
    width: 100%;
    gap: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.116);
            box-shadow: 0px 1px 11px -1px rgba(0, 0, 0, 0.116);
  }
  .section-blog .img-blog {
    width: 100%;
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .section-blog .content-blog {
    padding: 3rem;
  }
  .section-blog .cat_dropdown,
  .section-blog .search-filter-text {
    width: 30rem;
  }
  .section-intro-blog .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-intro-blog .img-round {
    width: 80%;
  }
  .section-intro-blog .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3rem;
  }
  .section-intro-blog .content {
    text-align: center;
  }
  .section-newsletter-blog form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-newsletter-blog input {
    width: 100%;
  }
  .section-newsletter-blog .text-newsletter p {
    max-width: unset;
  }
}

@media screen and (max-width: 768px) {
  .section-intro-blog .content {
    text-align: center;
  }
  .section-intro-blog .content h3 {
    font-size: 2rem;
  }
  .section-intro-blog .content p {
    font-size: 1.4rem;
    line-height: unset;
  }
  .section-blog {
    padding: 3rem 0;
  }
  .section-blog .content-blog {
    padding: 2.5rem;
  }
  .section-blog .title-blog {
    font-size: 2rem;
  }
  .section-blog form {
    gap: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-newsletter-blog form {
    gap: 3rem;
  }
  .section-newsletter-blog .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  .section-newsletter-blog .row img {
    max-width: 6rem;
  }
  .section-newsletter-blog .text-newsletter {
    text-align: center;
  }
  .section-more-posts .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-more-posts .excerpt-blog {
    font-size: 1.6rem;
  }
  .section-more-posts .title-blog.--morePosts {
    font-size: 2rem;
  }
  .section-more-posts .card-blog.--single {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .section-intro-blog {
    padding: 4rem 0;
  }
  .section-intro-blog .container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .section-intro-blog .row {
    gap: 2rem;
  }
  .section-intro-blog .content {
    text-align: center;
    font-weight: 400;
    gap: 1.5rem;
  }
  .section-blog .content-blog-share {
    margin-top: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-blog .content-blog-share p {
    display: none;
  }
  .section-blog.--single {
    padding: 3rem 0;
  }
  .section-blog .date-blog.--single {
    font-size: 1.6rem;
  }
  .section-blog .category-blog.--single {
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  .section-blog .title-blog.--single {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .section-blog .text-blog p {
    font-size: 1.7rem;
  }
  .section-blog .content-blog.--single {
    padding: 2rem 0;
  }
  .section-blog .content-blog.--single p:last-of-type {
    margin-bottom: unset;
  }
  .section-blog .content-blog-share {
    gap: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .section-blog {
    padding: 2rem 0;
  }
  .section-blog .content-blog {
    padding: 2rem;
  }
  .section-blog .content-blog.--single {
    padding: 2rem 0;
  }
  .section-blog .cat_dropdown,
  .section-blog .search-filter-text {
    width: 28rem;
  }
  .section-blog .title-blog {
    font-size: 1.8rem;
  }
  .section-blog .title-blog.--single {
    font-size: 2.6rem;
  }
  .section-more-posts .content-blog.--morePosts {
    padding: 1.5rem;
  }
  .section-more-posts .excerpt-blog {
    font-size: 1.4rem;
  }
  .section-hero-blog .logo-blog {
    width: 26rem;
  }
  .section-hero-blog .geometric-blog {
    width: 17rem;
    right: -6.5rem;
    bottom: -4.3rem;
  }
}

.breadcrumb {
  position: absolute;
  bottom: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
}

.breadcrumb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  gap: 3.5rem;
}

.breadcrumb li,
.breadcrumb a {
  color: #fff;
  list-style-type: none;
}

.breadcrumb a {
  letter-spacing: 0.25rem;
}

.breadcrumb .a-breadcrumb-active {
  font-weight: 700;
}

.breadcrumb .a-breadcrumb,
.breadcrumb .a-breadcrumb-active {
  z-index: 1;
  position: relative;
}

.breadcrumb .a-breadcrumb::after {
  position: absolute;
  content: "";
  height: 0.4rem;
  width: 0.4rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1.5rem;
  top: 30%;
  pointer-events: none;
}

/*RESET CSS*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /*10px*/
  scroll-behavior: smooth;
}

body,
html {
  overflow-x: hidden;
}

/*RESET CSS*/
/*general*/
body {
  font-family: "Montserrat", sans-serif;
  color: #6c747d;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.container.--blog {
  position: absolute;
  bottom: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*general*/
.title {
  color: #9f9f9f;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.title.--quemSomos {
  text-align: left;
}

.subtitle {
  text-align: center;
  color: #f59121;
  letter-spacing: 0.37rem;
  font-size: 1.5rem;
  font-weight: 500;
}

/*media queries*/
@media screen and (max-width: 600px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

/*media queries*/
/*# sourceMappingURL=style.css.map */